<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js"></script>
  <script>
    window.info = '{{INJECT_INFO_HERE}}';
  </script>
  <script>{{INJECT_SCRIPT_HERE}}</script>
  <script>
    let count = {{INJECT_COUNT_HERE}};
    const [tw, th] = [350, 350];
    let resolve;
    const shot = () => {
      var url = document.getElementsByTagName('canvas')[0].toDataURL('image/png');
      const canvas = document.createElement('canvas');
      canvas.width = tw;
      canvas.height = th;

      const img = new Image();
      img.src = url;
      const ctx = canvas.getContext('2d');
      img.onload = () => {
        ctx.drawImage(img, 0, 0, tw, th);

        resolve([window.metadata, url.substring(22), canvas.toDataURL('image/png').substring(22)]);
      }
    };

    const _draw = window.draw;
    window.draw = () => {
      if (count < 0) return;
      else if (count-- === 0) shot();
      else _draw();
    };

    const promise = new Promise((res, rej) => {
      resolve = res;
    });

    window.wait = async (callback) => {
      callback(await promise);
    };

  </script>
</head>

<body>
</body>

</html>