<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>'{{INJECT_TITLE_HERE}}'</title>

  <!-- Primary Meta Tags -->
  <meta name="title" content="'{{INJECT_TITLE_HERE}}'">
  <meta name="description" content="'{{INJECT_DESCRIPTION_HERE}}'">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="'{{INJECT_URL_HERE}}'">
  <meta property="og:title" content="'{{INJECT_TITLE_HERE}}'">
  <meta property="og:description" content="'{{INJECT_DESCRIPTION_HERE}}'">
  <meta property="og:image" content="'{{INJECT_IMAGE_HERE}}'">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="'{{INJECT_URL_HERE}}'">
  <meta property="twitter:title" content="'{{INJECT_TITLE_HERE}}'">
  <meta property="twitter:description" content="'{{INJECT_DESCRIPTION_HERE}}'">
  <meta property="twitter:image" content="'{{INJECT_IMAGE_HERE}}'">
  <style>
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      margin: auto;
      width: 100vmin;
      height: 100vmin;
    }
  </style>

  <style id="style"></style>
  <script>
    window.info = '{{INJECT_INFO_HERE}}';
  </script>
</head>

<body>
  <svg viewBox="-400 -400 800 800" xmlns="http://www.w3.org/2000/svg">
    <g id="group"></g>
  </svg>
  <script>'{{INJECT_SCRIPT_HERE}}'</script>
</body>

</html>